
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/* Header */

.header {
    background-color: #ffdfd6cb;
    padding: 20px;
}

.header-nav {
    display: flex;
    justify-content: center; 
}

.header-nav-list {
    list-style: none;
    display: flex; 
}

.header-nav-list li {
    margin-left: 20px;
}

.header-nav-list li a {
    text-decoration: none;
    color: #4f1707;
    font-size: 14px;
    font-weight: bold; 
}

.header-nav-list li a:hover {
    color: #fff;
}


/* Main */
.main {
    flex: 1;
    padding: 20px;
}

.content-section {
    max-width: 800px;
    margin: 0 auto;
}

.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.blog-post h3 {
    margin-top: 0;
}





/* Footer */
.footer {
    background-color: #ffdfd6cb;
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .header-nav-list {
        flex-direction: column;
        align-items: center;
    }
    .header-nav-list li a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .blog-post {
        padding: 10px;
    }
}
