
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    background-color: #ffdfd6cb;
    padding: 20px;
}

.header-nav {
    display: flex;
    justify-content: center; 
}

.header-nav-list {
    list-style: none;
    display: flex; 
}

.header-nav-list li {
    margin-left: 20px;
}

.header-nav-list li a {
    text-decoration: none;
    color: #4f1707;
    font-size: 14px;
    font-weight: bold; 
}

.header-nav-list li a:hover {
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    background-color: #ffdfd6cb;
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content-section {
    display: none;
}

.content-section:target {
    display: block;
}



  

/* responsive design  */
@media only screen and (max-width: 768px) {

    .header-nav-list {
        flex-direction: column;
        align-items: center;
    }
    .header-nav-list li {
        margin: 10px 0;
    }
    
    .about-me h2 {
        font-size: 14px;
     }
     .about-me h2 {
        font-size: 12px;
     }
     
     .about-me p {
         font-size: 10px;
         color: #333;
     }

     .education-content {
        flex-direction: column;
        text-align: center;
    }

    .education-details {
        margin: 20px auto;
    }

    .education-images {
        margin-bottom: 20px;
    }

    .education-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .stacked-images {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}



